@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.dark {
		@apply dark:bg-black dark:text-gray-100;
	}
}

@layer base {
	body {
		@apply bg-primary;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		@apply dark:bg-primary dark:text-gray-100;
	}
}

html {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
